{% extends 'layouts/base.html' %}

{% block title %} Payment List {% endblock title %}

{% block content %}
    
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
                <h6 class="h2 text-white d-inline-block mb-0">Payment</h6>
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href=""><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item" aria-current="page">Payment List</li>
                    
                </ol>
                </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
                {% comment %} <a href="./create/" class="btn btn-sm btn-neutral">Create New Patient</a> {% endcomment %}
            </div>
            </div>
        </div>
        </div>
    </div>


     <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">List</h3>
          </div>
          <!-- Light table -->
          <form method="get">
           {% csrf_token %}
            <div class="row">
              <div class="col-3 ml-4">
                 <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Name</span>
                    </div>
                    {{filter.form.treatment__patient__name}}
                  </div>
                </div>
              </div>
            
            
            <div class="col-2 text-left">
                <button  class="btn btn-bm btn-neutral" type='submit'> search</button>  
              </div>
            </div>
          </form>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="actions">actions</th>
                  <th scope="col" class="sort" data-sort="doctor">Doctor</th>
                  <th scope="col" class="sort" data-sort="patient-name">Patient Name</th>
                  <th scope="col" class="sort" data-sort="amount">amount</th>
                  <th scope="col" class="sort" data-sort="reserved-time">Time</th>
                  
                </tr>
              </thead>
              <tbody class="list">
                
             {% for payment in object_list %}
             
                <tr id = "row-{{payment.uuid}}">
                  <td class="actions">
                    <a href="{{payment.treatment.invoice.url}}" class="btn btn-sm btn-neutral" target="_blank" download >invoice</a>
                    <a id="btn-{{ payment.uuid }}" class="btn btn-sm btn-neutral productCancel">cancel</a>
                  </td>
                  <td>
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="patient-name mb-0 text-sm">{{payment.treatment.user}}</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="patient-name mb-0 text-sm">{{payment.treatment.patient.name}}</span>
                      </div>
                    </div>
                  </td>
                  <td class="amount">
                    {{payment.paid_amount}}
                  </td>
                  <td class="reserved-time">
                    {{payment.treatment.treatment_time}}
                  </td>

            
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                
                {% if pre_page %}
                <li class="page-item">
                {% else %}
                <li class="page-item disabled">
                {% endif %}
                  <a class="page-link" href="./?page={{ pre_page }}" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>



                {% for i in total_page %}

                {% if current_page == i %}
                <li class="page-item active">
                   <a class="page-link" href="./?page={{i}}">{{i}}
                    <span class="sr-only">(current)</span>              
                  </a>
                </li>
                {% else %}
                {% comment %} <li class="page-item"> {% endcomment %}
                {% endif %}

                {% endfor %}
                

                {% if next_page %}
                <li class="page-item">
                {% else %}
                <li class="page-item disabled">
                
                {% endif %}

                  <a class="page-link" href="./?page={{ next_page }}">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>


{% endblock content %}



<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  const header = {
    headers:{
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        'X-CSRFToken' : '{{csrf_token}}'
      }
  }

  $(document).ready(function(){
    
    $(".productCancel").on("click",function(e){
      const id = e.target.id.split('-')[1]
      axios.delete(`/api/payment/${id}/`,header).then(
        (res, id) => {
          if (res.ok) {
            $('tbody').children(`#row-${id}`).remove()
          }
        }
      )
    })

  })

  // axios.delete("/api/product/{{context.patient.uuid}}/",data,header)
</script>

{% endblock javascripts %}