# BackEnd
__pycache__
*.pyc
*~
.idea
.DS_Store
.vscode
.prettierignore
db.sqlite3
db.json
/static
venv
media


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml