commands:
  01_set_time_zone:
    command: ln -f -s /usr/share/zoneinfo/Asia/Bangkok /etc/localtime
  02_set_clock:
    command: sed -i "s/ZONE\=\"UTC\"/ZONE\=\"Asia\/Bangkok\"/g" /etc/sysconfig/clock

option_settings:
  aws:ec2:instances:
    InstanceTypes: t3.small
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings.prod
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: true
    RetentionInDays: 14
  AWSEBV2LoadBalancerTargetGroup.aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health/


container_commands:
  01_migrate:
    command: "/var/app/venv/*/bin/python3 manage.py migrate --noinput"
    leader_only: true
    ignoreErrors: true
  02_collectstatic:
    command: "/var/app/venv/*/bin/python3 manage.py collectstatic --noinput"
  03_postdeploy_folder:
    command: "mkdir -p .platform/hooks/postdeploy"
    leader_only: true
    ignoreErrors: true
  04_crontab_permission:
    command: "chmod +x .platform/cron/crontab.sh"
    leader_only: true
    ignoreErrors: true
  05_crontab:
    command: "mv .platform/cron/crontab.sh .platform/hooks/postdeploy/crontab.sh"
    leader_only: true
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/crontab.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/crontab.log
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/crontab.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/crontab.log
  "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.crontab.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/crontab.log {
        su root root
        size 10M
        rotate 5
        missingok
        compress
        notifempty
        copytruncate
        dateext
        dateformat %s
        olddir /var/log/rotated
      }
  "/etc/cron.hourly/cron.logrotate.elasticbeanstalk.crontab.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      test -x /usr/sbin/logrotate || exit 0
      /usr/sbin/logrotate /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.crontab.conf