{% extends '_icf001/base.html'%}

{% block title %} form {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col w-300">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-2">
              <div class="text-center mt-3">
                <h2>Terima kasih</h2>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center mb-4">
              
                

              </div>

              
            </div>
          </div>
      
          </div>
        </div>
      </div>
    </div>

{% endblock content %}