

    
<h3 class="mb-2 mt-4"> ODONTOGRAM </h3>
<div class="row row-cols-2">
    <div class='col'><a id='toggle-rt' class="btn btn-neutral p-1 mb-2 btn-block">hide right</a></div>
    <div class='col'><a id='toggle-lt' class="btn btn-neutral p-1 mb-2 btn-block">hide left</a> </div>
    
</div>
<div class = 'table-responsive'>                                   
    <table class="table p-0 m-0 mt-1 ">
        <tr>
            <td class="right-tooth" style="padding:8px;">
                <div class="row justify-content-end flex-nowrap ">
                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_18_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_18_2}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_18_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">18</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_17_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_17_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_17_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">17</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_16_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_16_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_16_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">16</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_15_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_15_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_15_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">15</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_14_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_14_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_14_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">14</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_13_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_13_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_13_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">13</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_12_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_12_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_12_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">12</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_11_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_11_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_11_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">11</span>
                    </div>

                </div>
            </div>
            

            </td>
            
            <td class="left-tooth" style="padding:8px;">
                
                <div class="row justify-content-start flex-nowrap m-0 p-0">
                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_21_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_21_2}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_21_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">21</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_22_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_22_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_22_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">22</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_23_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_23_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_23_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">23</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_24_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_24_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_24_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">24</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_25_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_25_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_25_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">25</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_26_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_26_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_26_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">26</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_27_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_27_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_27_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">27</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_28_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_28_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_28_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">28</span>
                    </div>

                </div>
            </td>
        </tr>
        <tr>
            <td class="right-tooth" style="padding:8px;">
                <div class="row justify-content-end flex-nowrap">
                    
                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">48</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_48_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_48_2}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_48_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">47</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_47_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_47_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_47_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">46</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_46_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_46_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_46_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">45</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_45_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_45_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1 mt-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_45_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">44</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_44_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_44_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_44_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">43</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_43_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_43_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_43_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">42</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_42_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_42_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_42_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">41</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_41_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_41_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_41_3}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            

            </td>
            
            <td class="left-tooth" style="padding:8px;">
                
                <div class="row justify-content-start m-0 p-0">
                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">31</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_31_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_31_2}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_31_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">32</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_32_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_32_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_32_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">33</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_33_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_33_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_33_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">34</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_34_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_34_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_34_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">35</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_35_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_35_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_35_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">36</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_36_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_36_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_36_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">37</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_37_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_37_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_37_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">38</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_38_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_38_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_38_3}}
                            </div>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
    
        <tr>
            <td class="right-tooth" style="padding:8px;">
                <div class="row justify-content-end flex-nowrap">
                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_55_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_55_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_55_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">55</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_54_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_54_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_54_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">54</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_53_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_53_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_53_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">53</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_52_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_52_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_52_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">52</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_51_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_51_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_51_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">51</span>
                    </div>

                </div>
            </div>
            

            </td>
            
            <td class="left-tooth" style="padding:8px;">
                
                <div class="row justify-content-start m-0 p-0">
                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_61_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_61_2}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_61_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">61</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_62_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_62_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_62_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">62</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_63_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_63_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_63_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">63</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_64_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_64_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_64_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">64</span>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <div class="form-group mb-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_65_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_65_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_65_3}}
                            </div>
                        </div>
                        <span class="input-group-text justify-content-center m-0 p-0">65</span>
                    </div>

                </div>
            </td>
        </tr>
        <tr>
            <td class="right-tooth" style="padding:8px;">
                <div class="row justify-content-end">

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">85</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_85_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_85_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_85_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">84</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_84_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_84_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_84_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">83</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_83_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_83_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_83_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">82</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_82_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_82_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_82_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">81</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_81_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_81_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_81_3}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            

            </td>
            
            <td class="left-tooth" style="padding:8px;">
                
                <div class="row justify-content-start m-0 p-0">
                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">71</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_71_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_71_2}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_71_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">72</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_72_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_72_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_72_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">73</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_73_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_73_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_73_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">74</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_74_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_74_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_74_3}}
                            </div>
                        </div>
                    </div>

                    <div class='col-auto p-1 ' style = "width: 60px;">
                        <span class="input-group-text justify-content-center m-0 p-0">75</span>
                        <div class="form-group mb-1 mt-1 ">
                            <div class="input-group input-group-sm">
                            {{od_form.t_75_1}}
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_75_2}}
                            </div>
                        </div>

                        <div class="form-group mb-1">
                            <div class="input-group input-group-sm">
                            {{od_form.t_75_3}}
                            </div>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
    </table>
</div>